 
body{
    background-color:rgb(35, 154, 184);
}
#first {
    background-color: aquamarine;
    color: rgb(3, 16, 28);
}
/* #second{
    background-color: rgb(255, 145, 0);
    color: beige;
} */
.red{
    background-color: brown;
    color: azure;
}
.bg-blue{
    background-color: blueviolet;
    color: aliceblue;
}

