*{
    /* margin: 0; */
    padding: 0;
}

nav ul li{
    display: inline-block;
    margin:11px 100px;
    color: white;
    color: black;
    /* text-decoration: none; */
    
}
button li b{
    color: blue;
    /* text-decoration: none; */
   text-decoration-line: none;
}

li b a {
    text-decoration: none;
    display: flex;
}
.search{
text-align: right;
font-size: larger;
}
form{
    margin: auto;
}

